APP_NAME=Laravel
APP_ENV=production
APP_KEY=base64:d+zjTI5mkrXkY2MDplavlliBZY7CPX1c144dTjqeU6M=
APP_DEBUG=false
APP_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=petmatch
DB_USERNAME=root
DB_PASSWORD=secret

GROQ_API_KEY=keyhere

CACHE_STORE=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync
